input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

.EditWrapper {
  width: 65%;
  display: flex;
  flex-flow: row wrap;
  position: relative;
  opacity: 1;
  overflow: hidden;
  justify-content: center;
  height: auto;
}

form .Info {
  width: 80%;
}

form .Info,
form .Actions {
  display: flex;
  flex: 1 0 100%;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

form .Info div,
form .Info div input {
  position: relative;
  line-height: 1.8em;
  padding: 0;
  margin: 0;
  opacity: 0.85;
}

form .Info div input {
  padding-left: 42px;
}

form .Info label {
  box-sizing: border-box;
  color: #4a4848;
  font-size: 0.8em;
  height: 100%;
  left: 3px;
  line-height: 1.8em;
  opacity: 0.5;
  padding: 0;
  position: absolute;
  text-align: left;
  top: 0;
  pointer-events: none;
  border: 5px solid transparent;
  transition: all 0.3s linear;
  z-index: 0;
}

form .Info .Year label,
form .Info .Format label {
  font-size: 0.65em;
  text-align: center;
  padding-top: 0;
  top: 0;
  z-index: 0;
}

form .Info input {
  background: transparent;
  background-color: transparent;
  box-sizing: border-box;
  color: #fff;
  border: 5px solid transparent;
  font-size: 1.2em;
  height: 100%;
  opacity: 0.4;
  padding-left: 30px;
  padding-top: 5px;
  width: 100%;
  z-index: 2;
  transition: all 0.3s ease-in;
}

form .Info input:hover,
form .Info input:focus,
form .Info input:visited,
form .Info input:active {
  color: #ad7460;
  border-bottom: 5px solid #ad7460;
  font-size: 1.2em;
  height: 100%;
  opacity: 1;
  transition: all 0.6s ease-in;
}

form .Info .Format input:hover,
form .Info .Format input:focus,
form .Info .Format input:active,
form .Info .Format input:visited {
  padding-left: 15px;
  transition: all 0.6s ease-in;
}

form .Info .Year input:hover,
form .Info .Year input:focus,
form .Info .Year input:active,
form .Info .Year input:visited {
  padding-left: 15px;
  transition: all 0.6s ease-in;
}

form .Info input:visited + label,
form .Info input:active + label,
form .Info input:focus + label,
form .Info input:hover + label {
  opacity: 0.6;
  font-size: 0.5em;
  left: 0;
  top: -2px;
  transition: all 0.4s ease-in;
}

.Actions {
  margin-top: 15px;
}

.Actions button {
  border-radius: 10px;
  width: 150px;
  height: 40px;
  margin-right: 20px;
  transition: all 0.3s ease-in;
}

.Actions button:hover {
  transition: all 0.6s ease-in;
}
