:root {
  --main-bg-color: rgba(42, 41, 40, 0.85);
}

.Record,
.EditRecord {
  background-clip: padding-box;
  display: flex;
  flex: 4 10% 75% 7.5% 7.5%;
  flex-flow: row wrap;
  color: #a4a2a2;
  padding-bottom: 40px;
  padding-top: 20px;
  position: relative;
  text-align: center;
  height: auto;
  justify-content: center;
}

.Up,
.Down {
  margin-top: 90px;
}

.Up {
  width: 10%;
  left: 10px;
  position: relative;
}

.Down {
  width: 7.5%;
}

.Edit {
  width: 7.5%;
  padding-top: 12px;
}

.Edit .react-toggle,
.Edit label {
  flex-wrap: column;
  flex: 1 100%;
}

.Edit label {
  position: inherit;
}

button {
  background-color: #eee;
  border-radius: 30px;
  height: 30px;
  width: 30px;
  color: #b5ac9a;
  border-color: #ad7460;
  transition: all 0.3s ease-in;
}

button:hover {
  color: #ad7460;
  background-color: white;
  border-color: #ad7460;
  cursor: pointer;
  transition: all 0.6s ease-in;
}

.Up button span::before {
  content: "▲";
}

.Down button span::before {
  content: "▼";
}

.Info {
  width: 65%;
}

.Info,
.EditWrapper .Info {
  color: #ad7460;
  position: relative;
  display: flex;
  flex: 2 75% 25%;
  flex-flow: row wrap;
  transition: all 0.4s ease-in;
}

.EditWrapper .Info {
  width: 100%;
}

.Info div,
.EditWrapper .Info {
  line-height: 2.2em;
  vertical-align: center;
}

.Band,
.Title,
.Format,
.Year,
.Label,
.Url {
  background-image: -webkit-radial-gradient(35% center, circle, rgba(39, 52, 99, 0.2) 20%, rgba(139, 66, 86, 0.9));
  background-clip: padding-box;
  border: 2px solid transparent;
  height: 50px;
  opacity: 0.85;
}

.multiple-desktop {
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  transition: all 0.3s ease-in;
}

.Band,
form .Info .Band,
.Title,
form .Info .Title {
  flex: 1 70%;
}

.Format,
form .Info .Format,
.Year,
form .Info .Year {
  flex: 1 25%;
}

.Label,
form .Info .Label,
.Url,
form .Info .Url {
  flex: 1 100%;
}

.Actions {
  flex: 1 100%;
}

.Band {
  border-top-left-radius: 10px;
}

.Format {
  border-top-right-radius: 10px;
}

.Url {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.react-toggle {
  display: inline-block;
  position: relative;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  padding: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

.react-toggle-screenreader-only {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.react-toggle--disabled {
  cursor: not-allowed;
  opacity: 0.5;
  -webkit-transition: opacity 0.25s;
  transition: opacity 0.25s;
}

.react-toggle-track {
  width: 50px;
  height: 24px;
  padding: 0;
  border-radius: 30px;
  background-color: #4d4d4d;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.react-toggle:hover:not(.react-toggle--disabled) .react-toggle-track {
  background-color: #000;
}

.react-toggle--checked .react-toggle-track {
  background-color: #19ab27;
}

.react-toggle--checked:hover:not(.react-toggle--disabled) .react-toggle-track {
  background-color: #128d15;
}

.react-toggle-track-check {
  position: absolute;
  width: 14px;
  height: 10px;
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
  line-height: 0;
  left: 8px;
  opacity: 0;
  -webkit-transition: opacity 0.25s ease;
  -moz-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
}

.react-toggle--checked .react-toggle-track-check {
  opacity: 1;
  -webkit-transition: opacity 0.25s ease;
  -moz-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
}

.react-toggle-track-x {
  position: absolute;
  width: 10px;
  height: 10px;
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
  line-height: 0;
  right: 10px;
  opacity: 1;
  -webkit-transition: opacity 0.25s ease;
  -moz-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
}

.react-toggle--checked .react-toggle-track-x {
  opacity: 0;
}

.react-toggle-thumb {
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  position: absolute;
  top: 1px;
  left: 1px;
  width: 22px;
  height: 22px;
  border: 1px solid #4d4d4d;
  border-radius: 50%;
  background-color: #fafafa;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
}

.react-toggle--checked .react-toggle-thumb {
  left: 27px;
  border-color: #19ab27;
}

.react-toggle--focus .react-toggle-thumb {
  -webkit-box-shadow: 0 0 3px 2px #0099e0;
  -moz-box-shadow: 0 0 3px 2px #0099e0;
  box-shadow: 0 0 2px 3px #0099e0;
}

.react-toggle:active:not(.react-toggle--disabled) .react-toggle-thumb {
  -webkit-box-shadow: 0 0 5 5 #0099e0;
  -moz-box-shadow: 0 0 5px 5px #0099e0;
  box-shadow: 0 0 5px 5px #0099e0;
}
