.NotFound {
  margin: 200px;
}

.LNotFound,
.RNotFound {
  display: inline-block;
  font-size: 20em;
  height: 350px;
  margin-left: -195px;
  margin-top: -205px;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 350px;
  z-index: 10;
}

.LNotFound {
  margin-left: -375px;
}

.RNotFound {
  margin-left: 20px;
  -moz-transform: scale(-1, 1);
  -webkit-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
}
