.Jukebox {
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

.Jukebox-header {
  border: 17px solid brown;
  border-top-left-radius: 200px;
  border-top-right-radius: 200px;
  background-color: lightyellow;
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
  width: 90%;
}

.Jukebox-header .j1 {
  border-radius: 200px;
  height: 600px;
  max-height: 200px;
  border-top-right-radius: 200px;
  border-top-left-radius: 200px;
  position: relative;
}

.Jukebox-header .j2 {
  background-color: #f3b646;
  border: 3px solid brown;
  border-top-left-radius: 200px;
  border-top-right-radius: 200px;
  height: 550px;
  overflow: hidden;
  z-index: 0;
  margin-top: -180px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 0;
  position: relative;
  width: 90%;
}

.Jukebox-header .j3 {
  background-color: #b5ac9a;
  border: 3px solid brown;
  border-top-left-radius: 200px;
  border-top-right-radius: 200px;
  height: 620px;
  z-index: 0;
  margin-top: -520px;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  text-align: center;
  padding: 0;
  position: relative;
}

.Jukebox-header .j4 {
  background-color: transparent;
  border: 3px solid brown;
  border-top-left-radius: 200px;
  border-top-right-radius: 200px;
  height: 620px;
  z-index: 0;
  margin-top: -675px;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  text-align: center;
  padding: 0;
  position: relative;
}

.Jukebox-body {
  background-color: #f9e3cb;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  border-top: 15px solid brown;
  border-bottom: 15px solid brown;
  border-left: 10px solid brown;
  border-right: 10px solid brown;
  margin-top: -454px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  max-width: 792px;
  min-height: 426px;
}

