.LoaderContainer {
  display: inline-block;
  overflow: hidden;
  width: 400px;
  height: 350px;
  left: 50%;
  position: absolute;
  top: 50%;
  margin-left: -200px;
  border-radius: 10px;
  box-shadow: 0 6px #99907e;
  background: #b5ac9a;
  text-align: center;
}

.Loader {
  position: relative;
  margin: 45px auto;
  width: 262px;
  height: 262px;
  border-radius: 50%;
  background:
    linear-gradient(30deg, transparent 40%, rgba(42, 41, 40, 0.85) 40%) no-repeat 100% 0,
    linear-gradient(60deg, rgba(42, 41, 40, 0.85) 60%, transparent 60%) no-repeat 0 100%,
    repeating-radial-gradient(#2a2928, #2a2928 4px, #757470 5px, #2a2928 6px);
  background-size: 50% 100%, 100% 50%, 100% 100%;
}

.Loader::after {
  left: 50%;
  margin: -35px;
  border: solid 1px #d9a388;
  content: " ";
  font-size: 10px;
  width: 68px;
  height: 68px;
  position: absolute;
  border-radius: 50%;
  box-shadow: 0 0 0 4px #e8ea39, inset 0 0 0 27px #dadc2d;
  background: #b5ac9a;
  top: 50%;
}

.Loader,
.Loader::after {
  animation: spin 6s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
