.App {
  text-align: center;
}

.App-header {
  background-color: #b5ac9a;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
  background-color: #fff;
  margin-top: 2%;
  position: relative;
  width: 100%;
}

.App h1 {
  font-size: 7.5em;
}
